<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Musinsa</title>

        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="wrap">
            <h1>Musinsa Url Shortening</h1>
            <p th:if="${error != null}" th:text="${error}"></p>
            <textarea id="long_url"></textarea><br><br>
            <input type="text" id="short_url"><br><br>
            <input type="button" id="convert_btn" value="Convert">
        </div>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>

    <script>
        $(function() {
            $("#convert_btn").click(function () {
                $("#short_url").val("");

                var data = {};
                data.url = $("#long_url").val();

                $.ajax({
                    url:'convert',
                    type:'POST',
                    contentType: "application/json",
                    data : JSON.stringify(data),
                    complete:function(result) {
                        if(result.responseJSON.status == 0) {
                            $("#short_url").val(result.responseJSON.data.url);
                            alert(result.responseJSON.data.url + "의 요청 회수 : " + result.responseJSON.data.count)
                        } else {
                            alert(result.responseJSON.message);
                        }
                    }
                });
            });
        });
    </script>
    </body>
</html>